{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card p-4">
            <h3 class="text-center mb-3">Edit Customer</h3>

            <form method="POST">

                <input type="text" name="name" class="form-control mb-3"
                       value="{{ customer['name'] }}" placeholder="Name">

                <input type="email" name="email" class="form-control mb-3"
                       value="{{ customer['email'] }}" placeholder="Email">

                <input type="text" name="phone" class="form-control mb-3"
                       value="{{ customer['phone'] }}" placeholder="Phone">

                <input type="text" name="company" class="form-control mb-3"
                       value="{{ customer['company'] }}" placeholder="Company">

                <textarea name="notes" class="form-control mb-3"
                          placeholder="Notes">{{ customer['notes'] }}</textarea>

                <!-- Status Dropdown -->
                <select name="status" class="form-control mb-3">
                    <option value="Lead" {% if customer['status'] == 'Lead' %}selected{% endif %}>Lead</option>
                    <option value="Contacted" {% if customer['status'] == 'Contacted' %}selected{% endif %}>Contacted</option>
                    <option value="Converted" {% if customer['status'] == 'Converted' %}selected{% endif %}>Converted</option>
                </select>

                <button class="btn btn-primary w-100">Update Customer</button>

            </form>


                            <hr>
                <h5>Notes</h5>

                <form method="POST" action="/add_note/{{ customer['id'] }}">
                    <textarea name="content" class="form-control mb-2" placeholder="Add note..."></textarea>
                    <button class="btn btn-success mb-3">Add Note</button>
                </form>

                {% if notes %}
                    <ul class="list-group">
                        {% for note in notes %}
                            <li class="list-group-item">
                                {{ note['content'] }}
                                <br>
                                <small class="text-muted">{{ note['created_at'] }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No notes yet.</p>
                {% endif %}


            <a href="/customers" class="btn btn-secondary mt-3">Back</a>

        </div>

    </div>
</div>

{% endblock %}